/* /Components/OrgSelect.razor.rz.scp.css */
/* /Layouts/UserLayout.razor.rz.scp.css */
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.container__b__0[b-nck5nv7mmc] {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: #f0f2f5;
}
.container__b__0 .lang[b-nck5nv7mmc] {
  width: 100%;
  height: 40px;
  line-height: 44px;
  text-align: right;
}
.container__b__0 .lang :global(.ant-dropdown-trigger)[b-nck5nv7mmc] {
  margin-right: 24px;
}
.container__b__0 .content[b-nck5nv7mmc] {
  flex: 1;
  padding: 32px 0;
}
.container__b__0 .top[b-nck5nv7mmc] {
  text-align: center;
}
.container__b__0 .header[b-nck5nv7mmc] {
  height: 44px;
  line-height: 44px;
}
.container__b__0 .header a[b-nck5nv7mmc] {
  text-decoration: none;
}
.container__b__0 .logo[b-nck5nv7mmc] {
  height: 44px;
  margin-right: 16px;
  vertical-align: top;
}
.container__b__0 .title[b-nck5nv7mmc] {
  position: relative;
  top: 2px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.container__b__0 .desc[b-nck5nv7mmc] {
  margin-top: 12px;
  margin-bottom: 120px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
@media (min-width: 768px) {
  .container__b__0[b-nck5nv7mmc] {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
  .container__b__0 .content[b-nck5nv7mmc] {
    padding: 32px 0 24px;
  }
}
/* /Pages/MainPage.razor.rz.scp.css */
/* /Pages/Organization/OrgList.razor.rz.scp.css */
/* /Pages/User/Login/Login.razor.rz.scp.css */
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
/*此处为了解决样式冲突, 在pro样式的基础上包了一层main, 原始样式从.login开始*/
.main__b__0[b-peodis76fy]  {
  width: 368px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .main__b__0[b-peodis76fy]  {
    width: 95%;
  }
}
.main__b__0[b-peodis76fy]  .login :global .ant-tabs .ant-tabs-nav {
  margin-bottom: 24px;
  text-align: center;
  border-bottom: 0;
}
.main__b__0[b-peodis76fy]  .login .getCaptcha {
  display: block;
  width: 100%;
}
.main__b__0[b-peodis76fy]  .login .icon {
  color: #1890ff;
}
.main__b__0[b-peodis76fy]  .login .other {
  margin-top: 24px;
  line-height: 22px;
  text-align: left;
}
.main__b__0[b-peodis76fy]  .login .other .icon {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}
.main__b__0[b-peodis76fy]  .login .other .icon:hover {
  color: #1890ff;
}
.main__b__0[b-peodis76fy]  .login .other .register {
  float: right;
}
.main__b__0[b-peodis76fy]  .login .prefixIcon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
}
.main__b__0[b-peodis76fy]  .login .submit {
  width: 100%;
  margin-top: 24px;
}
/* /Pages/User/RegisterResult/RegisterResult.razor.rz.scp.css */
.registerResult[b-gtzoofamqc] {
  width: 800px;
  min-height: 400px;
  margin: auto;
  padding: 80px;
  background: none;
}
.registerResult :global .anticon[b-gtzoofamqc] {
  font-size: 64px;
}
.registerResult .title[b-gtzoofamqc] {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
}
.registerResult .actions[b-gtzoofamqc] {
  margin-top: 40px;
}
.registerResult .actions a + a[b-gtzoofamqc] {
  margin-left: 8px;
}
/* /Pages/User/Register/Register.razor.rz.scp.css */
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.main__b__1[b-z98kni4031] {
  width: 368px;
  margin: 0 auto;
}
.main__b__1 h3[b-z98kni4031] {
  margin-bottom: 20px;
  font-size: 16px;
}
.main__b__1 .password[b-z98kni4031] {
  margin-bottom: 24px;
}
.main__b__1 .password :global .ant-form-item-explain[b-z98kni4031] {
  display: none;
}
.main__b__1 .getCaptcha[b-z98kni4031] {
  display: block;
  width: 100%;
}
.main__b__1 .submit[b-z98kni4031] {
  width: 50%;
}
.main__b__1 .login[b-z98kni4031] {
  float: right;
  line-height: 40px;
}
.success[b-z98kni4031],
.warning[b-z98kni4031],
.error[b-z98kni4031] {
  transition: color 0.3s;
}
.success[b-z98kni4031] {
  color: #52c41a;
}
.warning[b-z98kni4031] {
  color: #faad14;
}
.error[b-z98kni4031] {
  color: #ff4d4f;
}
.progress-pass > .progress :global .ant-progress-bg[b-z98kni4031] {
  background-color: #faad14;
}
